.info_outter {
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 50px;
  box-sizing: border-box;
}

/* .Info_Outter .Info_left {
} */

.info_outter .Info_right {
  margin-left: 30px;
  height: 800px;
}

.info_title {
  padding: 0 50px;
  padding-top: 50px;
  font-size: 45px;
}

.info_outter .Info_left > .profileImg {
  width: 150px;
}

.info_outter .Info_right > .info_text {
  color: black;
  font-weight: 700;
  line-height: 30px;
  font-size: 20px;
}

.info_outter .Info_right .edu_text {
  color: black;
  font-weight: 700;
  line-height: 30px;
  font-size: 20px;
}

.info_outter .Info_right .edu_text h3 {
  margin-top: 30px;
}

.info_outter .Info_right .edu_text ul li {
  text-indent: 20px;
  /* justify-content: space-between; */
}

.stackSkillWrap > li {
  margin-top: 30px;
  display: flex;
  /* justify-content: space-between; */
  width: 140%;
}

.stackSkillWrap > li > .twoDepthStack .twoDepthItem > p:first-child {
  margin-left: 30px;
  width: 120px;
}

.stackSkillWrap > li > .twoDepthStack .twoDepthItem > p:nth-child(2) {
  margin-left: 50px;
}

li.twoDepthItem {
  display: flex;
}

.info_outter .Info_right .work_text {
  color: black;
  font-weight: 700;
  line-height: 30px;
  font-size: 20px;
}

.info_outter .Info_right .work_text h3 {
  margin-top: 30px;
}

.info_outter .Info_right .work_text ul li {
  text-indent: 20px;
  /* justify-content: space-between; */
}

.workWrap > li {
  margin-top: 30px;
  display: flex;
  /* justify-content: space-between; */
  width: 140%;
}

.workWrap > li > .twoDepthStack .twoDepthItem > p:first-child {
  margin-left: 30px;
  width: 120px;
}

.workWrap > li > .twoDepthStack .twoDepthItem > p:nth-child(2) {
  margin-left: 50px;
}

li.twoDepthItem {
  display: flex;
}
