.About_outter {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 50px;
    box-sizing: border-box;
    /* background-color: black; */
    min-height: 100vh;
}

.About_outter .left > .firstRow{
    font-size: 90px;
    font-weight: 700;
    margin-top: 80px;
    color: white;
}

.About_outter .left > .secondRow{
    font-size: 20px;
    font-weight: 400;
    margin-top: 32px;
    color: white;
}

.About_outter .left > .elseRow{
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    color: white;
}

.inViewComponents{
    width: 100%;
    height: 100vh;
}

/* .information_outter .right{
    height: 500px;
    margin-top: 100px;
} */


