.information_outter {
    width: 100%;
}

.main_name_line, .main_text_line {
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.main_text_line {
    display: flex;
    height: 400px;
    align-items: center;
}

.main_text {
    font-size: 65px;
    font-weight: 700;
}

.main_name_outter {
    width: 600px;
    height: 700px;
    align-items: center;
}