.outter{
    width: 100%;
    background-color: black;
}

.headerOutter{
    width: 1200px;
    height: 80px;
    background-color: cornflowerblue;
    margin: 0 auto;
}

.name_line{
    font-size: 26px;
    font-weight: bold;
    vertical-align: middle;
}