.headerOutter{
    width: 1920px;
    height: 80px;
    background-color: cornflowerblue;
}

.headerSection_1{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.name_line{
    font-size: 26px;
    font-weight: bold;
    vertical-align: middle;
}