body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "NanumSquareR";
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "NanumSquareR";
  font-weight: normal;
  src: url("./path/Fonts/NanumSquareR.otf") format("truetype");
}

ul, ol, dl {
  list-style: none;
}

* { 
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}